[package]
name = "discord"
version = "0.8.0"
authors = ["Tad Hardesty <tad@platymuus.com>"]

description = "Client library for the Discord API"
readme = "README.md"
license = "MIT"
keywords = ["discord", "chat", "bot", "api", "voice"]

repository = "https://github.com/SpaceManiac/discord-rs"
documentation = "https://docs.rs/discord/0.8.0"

[features]
default = ["voice"]
voice = ["opus", "sodiumoxide"]

[dependencies]
hyper = "0.9"
serde_json = "0.8"
websocket = "0.17"
bitflags = "0.7"
byteorder = "0.5"
time = "0.1"
log = "0.3"
base64-rs = "0.1.1"
flate2 = "0.2.14"
opus = { version = "0.2", optional = true }

[dependencies.sodiumoxide]
version = "0.0.12"
default-features = false
optional = true

[dependencies.multipart]
version = "0.8"
default-features = false
features = ["hyper", "client"]
