[package]
name = "discord"
version = "0.7.0"
authors = ["Tad Hardesty <tad@platymuus.com>"]

description = "Client library for the Discord API"
readme = "README.md"
license = "MIT"
keywords = ["discord", "chat", "bot", "api", "voice"]

repository = "https://github.com/SpaceManiac/discord-rs"
documentation = "http://wombat.platymuus.com/rustdoc/discord_0.7.0/"

[features]
default = ["voice"]
voice = ["opus", "sodiumoxide"]

[dependencies]
hyper = { version = "0.10", default-features = false }
hyper-native-tls = "0.2.2"
serde_json = "0.8"
websocket = { git = "https://github.com/ArtemGr/rust-websocket", branch = "hyper-bump" }
bitflags = "0.7"
byteorder = "0.5"
time = "0.1"
log = "0.3"
base64-rs = "0.1.1"
flate2 = "0.2.14"
opus = { version = "0.2", optional = true }
multipart = { version = "0.9", default-features = false, features = ["client", "mock"] }
mime = "0.2.2"

[dependencies.sodiumoxide]
version = "0.0.12"
default-features = false
optional = true
